/* font */
html {
  line-height: $default-line-height;
  font-family: $default-font-family;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
}

/* font-size */
body {
  font-size: $default-font-size ;}

/* image */
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none; 
}
